{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Bobaed</title>
	
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 

			<h1>Hi, we’re Bobaed.</h1>
			<h2>We help you find great boba tea houses to work from.</h2>

			<p>In a world filled with freelancers, entrepreneurs and flexible schedules, finding a boba tea house with the essentials can be hard. Let us do the legwork. We find the best boba tea houses with the best wifi, outlets, bathrooms and ample seating — and let’s not forget great boba. Sign up to be the first to get updates &amp; follow us on social media.</p>

			<p>Email us now for a PDF of the Top 10 Boba Tea Houses in SoCal: <a mailto:"hello@bobaed.com">hello@bobaed.com</a></p>

			<a href="https://twitter.com/bobaed" target="_blank">
				<img src="{% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/bobaed" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a>
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>